# Build-Ordner (wird bei jedem Build neu erstellt)
bin/
obj/

# Visual Studio-spezifische Dateien (benutzerspezifische Konfigurationen und temporäre Dateien)
.vs/

# .NET Core-Dateien
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet-Pakete (wird bei Bedarf automatisch neu installiert)
packages/

# Benutzerspezifische Dateien (werden nicht zwischen Teammitgliedern geteilt)
*.user
*.suo

# Log-Dateien
*.log

## TEst
